/* hero.css */
.hero {
  margin-top: 90px;
  background: white;
  /* Removed background-image */
  display: flex;
}

.hero__content {
  text-align: left;
  margin-top: 90px;
  /* padding-right: 50px; /* Increased padding */
  /* padding-left: 50px;  */
}

.hero__title4 {
  font-weight: 900;
  font-size: 60px;
  color: #020635;
}

.unique {
  color: #FF5733;
}

.hero_paragraph {
  font-size: 18px;
  line-height: 1.5;
  color: black;
  text-align: justify;
}

/* Adjusted button styles */
.hero_button {
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .hero_button {
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  .hero_button {
    font-size: 0.75rem;
  }
}

/* Adjusted image styles */
.image__content {
  position: relative;
  width: 100%;
  height: 40rem;
}

.hero__img {
  height: 500px;
  /* Adjusted positioning */
  position: absolute !important;
  top: 50%;
  left: 5%;
}

.hero__img1 {
  max-width: 500px;
  height: auto;
  /* Adjusted positioning */
  position: absolute !important;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

/* Removed duplicate media queries */
