.hero1 {
  width: 100%;
  background:linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)) url("../../assets/images.jpg");
  background-size: cover;
  background-position: center;
  padding: 80px 0; /* Adjust as needed */
  color: #fff; /* Text color */
  position: relative; /* Required for absolute positioning of the circle */
}

.hero__content {
  text-align: center; /* Center the content */
  max-width: 800px; /* Limit content width */
  margin: 0 auto; /* Center content horizontally */
}

.title {
  width: 100px;
  text-align: center;
}

.hero_text {
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: orangered; /* Brown color for hero text */
}

.hero__title {
  font-weight: 800;
  font-size: 48px; /* Larger title font size */
  margin-bottom: 20px; /* Space below the title */
}

.hero_pragraph {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
  color: white; /* Space below the paragraph */
}

.animated-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background-color: orangered;
  border-radius: 50%;
  animation: moveCircle 5s linear infinite;
}

@keyframes moveCircle {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(50vw, -50%);
  }
  50% {
    transform: translate(50vw, 50vh);
  }
  75% {
    transform: translate(-50vw, 50vh);
  }
  100% {
    transform: translate(-50vw, -50%);
  }
}
